
@{
    ViewBag.Title = "Services";
}

<!--Start Carousel-->
<div id="carouselExampleIndicators" class="carousel slide bs-slider">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Content/Images/slide1.jpg" alt="First slide">
            <div class="bs-slider-overlay"></div>
            <div class="carousel-caption">
                <h1 class="display-4 animated fadeInDown slide1 ashow"><span class="bad">Our</span> Services</h1>
                <p class="lead animated fadeInDown slide2 d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
                <button type="button" class="btn btn-primary btn-lg scroll animated fadeInUp slide3 anone">Learn More</button>
            </div>
        </div>
    </div>
</div>
<!--End Caursol-->
<!--Start Services-->
<section class="learn data">
    <div class="container">
        <div class="row d-flex flex-row row-bottom-padded-lg">
            <div class="col-md-3 col-sm-12 wow fadeInLeft">
                <div class="icon"><i class="fa fa-code"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">01.</h4>
                <h2 class="title">Web Development</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>

        <div class="row d-flex flex-row-reverse row-bottom-padded-lg">
            <div class="col-md-3 col-sm-12 wow fadeInRight">
                <div class="icon float-right"><i class="fa fa-mobile"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">02.</h4>
                <h2 class="title">Mobile Apps</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>

        <div class="row d-flex flex-row row-bottom-padded-lg">
            <div class="col-md-3 col-sm-12 wow fadeInLeft">
                <div class="icon"><i class="fa fa-pencil"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">03.</h4>
                <h2 class="title">UX Design</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>

        <div class="row d-flex flex-row-reverse row-bottom-padded-lg">
            <div class="col-md-3 col-sm-12 wow fadeInRight">
                <div class="icon float-right"><i class="fa fa-file-video-o"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">04.</h4>
                <h2 class="title">Video Editing</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>


        <div class="row d-flex flex-row row-bottom-padded-lg">
            <div class="col-md-3 col-sm-12 wow fadeInLeft">
                <div class="icon"><i class="fa fa-search"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">05.</h4>
                <h2 class="title">SEO Ranking</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>

        <div class="row d-flex flex-row-reverse">
            <div class="col-md-3 col-sm-12 wow fadeInRight">
                <div class="icon float-right"><i class="fa fa-cloud"></i></div>
            </div>
            <div class="col-md-9 col-sm-12">
                <h4 class="number">06.</h4>
                <h2 class="title">Cloud Based Apps</h2>
                <p class="details lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam quae modi earum eligendi eaque quis laudantium aperiam sunt atque recusandae, fugiat veritatis repellendus incidunt nostrum voluptatibus. Eveniet ex magnam repellat sunt molestiae, quibusdam culpa dignissimos recusandae voluptatum necessitatibus provident commodi?</p>
                <ul class="list">
                    <li>Web Design</li>
                    <li>Search Engine Optimzation</li>
                    <li>HTML5 &amp; CSS3</li>
                    <li>jQuery Library</li>
                </ul>
            </div>
        </div>


    </div>
</section>
<!--End Services-->
