@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title.</div>
    <div class="card-body">
        <div class="text-center mt-4 mb-5">
            <p>Please check your email to reset your password.</p>
        </div>
    </div>
</div>
