@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">@ViewBag.Title.</div>
    <div class="card-body">
        <div class="text-center mt-4 mb-5">
            <p>
                Your password has been reset.
            </p>
            <p>
                Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>